/* Button */
.btn-login {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ec3838;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .btn-login:hover {
        background-color: #cc0000;
    }

/* Table */
.table-Login {
    width: 80%;
    max-width: 600px;
    border: solid black;
    align-content: center;
    background-color: #ffffff;
    justify-content: center;
    margin: 20px auto;
    text-decoration: none;
    border-collapse: collapse;
}

    .table-Login td, .table-Login th {
        padding: 10px;
        border: 1px solid black;
        text-align: center;
    }

.td-pick {
    background-color: #ec3838;
    color: aliceblue;
}

.td-unpick {
    color: black;
}

/* Top navbar */
.topnav {
    overflow: hidden;
    background-color: #ec3838;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .topnav a {
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        padding: 8px 16px;
        border-radius: 25px;
        transition: background-color 0.3s, color 0.3s;
    }

        .topnav a:hover,
        .topnav a.active {
            background-color: #cc0000;
            color: white;
        }

    .topnav .navbtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 15px;
        margin: 0 10px;
    }

        .topnav .navbtn button {
            border-radius: 25px;
            padding: 5px;
            background: #cc0000;
            font-size: 15px;
            width: 40px;
            height: 40px;
            border: none;
            cursor: pointer;
            color: white;
            transition: background 0.3s;
        }

            .topnav .navbtn button:hover {
                background: #b81a1a;
            }

        .topnav .navbtn .name {
            margin-top: 5px;
            color: white;
            font-size: 15px;
        }

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .dropbtn:hover {
        background-color: #b81a1a;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ec3838;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        transition: background-color 0.3s, color 0.3s;
    }

        .dropdown-content a:hover {
            background-color: white;
            color: #ec3838;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

/* Adjusted styles for smaller screens */
@media screen and (max-width: 768px) {
    .topnav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

        .topnav .navbtn,
        .topnav a,
        .topnav input[type=text],
        .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 10px;
        }

        .topnav .search-container {
            margin-top: 8px;
            width: 100%;
        }

        .topnav input[type=text] {
            width: calc(100% - 50px);
        }

        .topnav .search-container button {
            position: absolute;
            right: 10px;
            top: 10px;
        }
}

/* Search container and button */
.topnav .search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.topnav input[type=text] {
    padding: 6px 40px 6px 6px;
    border: 1px solid #ec3838;
    font-size: 17px;
    color: #808080;
    box-sizing: border-box;
    width: 400px;
    border-radius: 15px;
    transition: width 0.3s;
}

    .topnav input[type=text]:focus {
        width: 500px;
    }

.topnav .search-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    padding: 6px 10px;
    background: #cc0000;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: white;
    transition: background 0.3s;
}

    .topnav .search-container button:hover {
        background: #b81a1a;
    }

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Product card */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    overflow: hidden;
}

    .card img {
        width: 100%;
        height: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

.card-content {
    padding: 20px;
}

.price {
    color: #ec3838;
    font-size: 22px;
    margin-top: 10px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
    transition: opacity 0.3s;
}

    .card button:hover {
        opacity: 0.7;
    }

/* Sidebar */
.sidedmsp {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

    .sidedmsp .button {
        display: block;
        background-color: #ec3838;
        color: white;
        padding: 12px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .sidedmsp .button:hover {
            background-color: #b81a1a;
        }

/* Sidebar content */
.sidebttncontent {
    margin-left: 220px;
    padding: 20px;
    border: 1px solid #ccc;
    border-left: none;
    height: auto;
    min-height: 300px;
    border-radius: 15px;
}

/* Additional styles for better spacing */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .sidebttncontent {
        margin-left: 0;
    }
}

/*Giỏ hàng*/
/* Cart Button Styling */
.cart-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ec3838; /* Main color */
    color: white;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

    .cart-btn:hover {
        background-color: #cc0000; /* Darker red */
        transform: scale(1.05);
    }

    .cart-btn i {
        font-size: 24px;
        margin-right: 8px;
    }


.navbtn .name {
    margin-top: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
}

/* General Styles */
.navbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* Adjust spacing between navbtn elements */
}

