@model IEnumerable<CNPM.Models.Category>
<div class="sidedmsp">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.name, "Index", "Home", new { category = item.ID }, new { @class = "button" })
    }
</div>
