<style>
    .badge-cart {
        background-color: #ffffff;
        color: #ec3838; /* Main color */
        font-size: 12px;
        padding: 3px 8px;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        right: -5px;
        font-weight: bold;
    }
</style>
<span class="badge-cart">@ViewBag.QuantityCart</span>
